/* index.css */

/* 1. Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 2. Your Custom CSS */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light;
  /* etc. */
}

h1 {
  color: #f06e6e;
  /* etc. */
}
